# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
# IDE
.idea/
.vscode/
*.iml
# Env / segredos
.env
*.env
lib/core/config/secrets.dart
# OS
.DS_Store
